{{ ansible_managed | comment }}
[Unit]
Description=Adguard Home
Documentation=https://github.com/AdguardTeam/AdGuardHome
After=network-online.target

[Service]
Type=simple
User={{ adguard_system_user }}
Group={{ adguard_system_group }}
#ExecReload=/bin/kill -HUP $MAINPID
ExecReload={{ adguard_binary_install_dir }}/adguard -s reload
ExecStart={{ adguard_binary_install_dir }}/adguard \
  --config {{ adguard_config_dir }}/config.yaml \
  --work-dir {{ adguard_db_dir }} \
  --no-check-update \
  -s run

WorkingDirectory={{ adguard_db_dir }}
SyslogIdentifier=adguard
Restart=always
RestartSec=5
{% if adguard_http_proxy is defined %}
Environment="HTTP_PROXY={{ adguard_http_proxy }}""
{% endif %}
{% if adguard_https_proxy is defined %}
Environment="HTTPS_PROXY={{ adguard_https_proxy }}"
{% endif %}
MemoryHigh={{ adguard_memory_high | default('') }}
MemoryMax={{ adguard_memory_max | default('') }}
CPUQuota={{ adguard_cpu_quota | default('80%') }}
NoNewPrivileges=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
